:root {
  --floralwhite: #FFF8F0;
  --oxfordBlue: #030027;
  --fuzzyRed: #c16e70;
  --deepGreen: #214f4b;
  --shadowBlue: #7a93ac;

}

*{
  background-color: var(--floralwhite);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2{
  text-decoration: none;
  color: var(--oxfordBlue);
}

a{
  text-decoration: none;
  color: #214f4b;
}

.temp {
  background-color: var(--deepGreen);
  color: aqua;
}